[Unit]
Description=Gunicorn instance to serve application
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/scalecc/
Environment="PYTHONPATH=/var/www/scalecc/"
Environment="VIRTUAL_ENV=/var/www/scalecc/venv/"
Environment="PATH=/var/www/scalecc/venv/bin"
ExecStart=/var/www/scalecc/venv/bin/gunicorn -c /var/www/scalecc/conf/gunicorn_conf.py --workers 4 scale_av_cc.app:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target